@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex ;
    justify-content: space-around;
    align-items: center;
    font-family:Arial;
    padding: 25px;
    background-color: rgb(34, 38, 85);
    
}

.Logo-Imagem{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    
}

.Logo-Imagem img{

    width: 100px;
    height: 120px;
    padding-top: 15px;
}

.container-logo{
    display:flex;
    align-items: center;

}

.Logo-texto{
    margin-left: 5px;
}

.Login {

    width: 30%;

}

.Login li{
    display:inline-block;
    margin: 10px;

}

.Login li a{
    font-size: 20px;
    text-decoration:none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: monospace;
    padding: 10px;
    border-radius: 10px;
    

}

.Login li a:hover{
    background-color: rgb(0, 0, 0);

}

ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family:Arial;
    padding: 0px; 

}

.segunda-linha{
    background-color: black;
    
}

.segunda-linha ul{
    list-style: none;
}

.segunda-linha > ul > li{
  float: left;
  list-style: none;
 
    
}

.segunda-linha ul li a{
    font-size: 24px;
    text-decoration:none;
    color: rgb(255, 253, 253);
    text-transform: uppercase;
    font-family: monospace;
    padding: 10px;
    border-radius: 10px;    
    display: inline-block;
}


.segunda-linha ul li a:hover{
    background-color: rgb(34, 38, 85);
}

.search-box{
    position: absolute;
    
    background-color: rgb(0, 0, 0);
    height: 50px;
    border-radius: 40px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-text{
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 0;
    padding: 0%;
    transition: 0.4s;
    color: white;
}


.search-btn{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.search-box:hover > .search-text{
    width: 200px;


}

.segunda-linha .submenu{
    display: none;
}

.segunda-linha li:hover .submenu{
    display:block;
    position: absolute;
    
}

.submenu{
    background: black;
    padding: 0%;
    width: 200px;
}


.camisas_selecao {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.camisas_selecao p {
   
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    text-transform: uppercase;
    text-shadow: 100px solid rgb(255, 255, 255);
    text-align: center;
    color: white;
}

.camisa {
    background-color: rgb(34, 38, 85);
    border: 1px solid white;
    margin: 10px;
    height: 425px;
}

.camisas_selecao a {
    border: 2px solid rgb(2, 2, 2);
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 25px;
    border-radius: 6px;
    text-decoration: none;
}
.camisas_selecao a:hover {
    color: rgb(233, 164, 80);
}

.preco_camisa {
    font-size: 16pt;
    font-weight: bold;
}

/* Inicio rodape */


.container{
    max-width: 1170px;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.row{
    display:flex ;
    flex-wrap: wrap;
}

.footer{
    background-color: #000000;
    padding: 40px 0;
}

.footer-col{
    width: 30%;
    padding: 0 15px;

   
}

.footer-col  h4{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative; 
   
   
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 3em;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 280px; 
    
    
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
    text-align: center;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
    
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: white;

}
/* FIM rodape */